body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98.60vw;
}

.cuadro-exotic1_contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  gap: 45px;
}
.cuadro-exotic1_contacto h1{
  font-size: 40px;
  color: #B1A7A6;
  margin-top: 400px;
}
.cuadro-exotic1_contacto p{
  font-size: 30px;
}
.cuadro_2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
}
.cuadro_2  input{
  width: 400px;
  height: 40px;
  border: 0;
  border-bottom: 2px solid black;
  outline: none;
}
.cuadro_2 a{
  text-decoration: none;
  color: #000;
  border: 2px solid black;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}