
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.0vw;
}

nav {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    transition: 0.7s;
    background-color: black;

}

nav.bajar_1 {
    position: fixed;
    transition: 0.7s;
    width: 100%;
    height: 100px;
    color: black;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(15px);
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    color: #ffffff;
}

.activa {
    border-top: 6px solid #e5383b;
    padding: 2px;
}

nav li {
    list-style: none;
    margin-left: 85px;
}

nav img {
    width: 120px;
    height: 120px;
    padding: 12px;
    margin-left: 50px;
}

.caja {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.shopify.com/s/files/1/0086/1064/4028/products/PRIME_NYStrip9-1200x1200-Raw_JUL19_1200x1200.jpg?v=1563808017");
    background-size: cover;
    background-repeat: no-repeat;
}

.inform {
    width: 400px;
    height: 600px;
    margin-left: 20%;
    margin-top: 10%;
}

.inform h1 {
    color: #ffffff;
}

.inform p {
    color: #ffffff;
}

.caja_inicio {
    width: 100%;
    height: 600px;
    background-color: #161A1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja_inicio h4 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

.lineas {
    position: relative;
    text-align: center;
}

.lineas::before,
.lineas::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 400px;
    /* Ajusta este valor para controlar el largo de las líneas */
    border-top: 1px solid rgb(255, 255, 255);
}

.lineas::before {
    left: 150px;
}

.lineas::after {
    right: 150px;
}
.con{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-top: 3.5%;
}

.caja2_inicio{ 
    width: 100%;
    height: 700px;
    background-color: #161A1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja2_inicio h4 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}
.conte{
    margin-top: 65px;
    display: flex;
    flex-direction: row ;
    width: 100%;
    justify-content: center;
    gap: 100px;
}
.tarjeta{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tarjeta a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.tarjeta img{
    width: 100%;
    height: 300px;
}
.tarjeta h3{
    font-size: 35px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
}
.tarjeta p{
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
}
.footer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: #161A1D;
    justify-content: space-around;
    align-items: center;
}
.info{
    width: 200px;
    height: 400px;
    color: #ffffff;
}
.info li {
    max-width: 100%;
    margin-top: 25px;
}
.info img{
    margin-right: 10px;
}
.info h3{
    border-bottom: 2px solid white;
    width: 250px;
    padding: 15px;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #161A1D;
    border-top: 1px solid #B1A7A6;
}
footer img{
    margin-top: -10px;
    margin-left: 25px;
}