*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    background-image: url("https://cdn.shopify.com/s/files/1/0086/1064/4028/products/PRIME_NYStrip9-1200x1200-Raw_JUL19_1200x1200.jpg?v=1563808017");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid{
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 20% auto auto auto auto;
    gap: 0;
    margin: 0;
}

.menu{
    grid-column: 1/2;
   grid-row: 1/2;
   position: sticky;
   top: 0;
}


nav {
    position: sticky;
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    transition: 0.7s;
    background-color: black;
}

.logo{

    display: flex;
    justify-content: center;
    align-self: center;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    color: #ffffff;
}

.activa {
    font-size: 20px;
    border-top: 6px solid #e5383b;
    padding: 2px;
}

nav li {
    list-style: none;
    margin-left: 20px;
}



.inform{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    background-image: linear-gradient(rgba(128, 15, 15, 0.288), rgba(128, 15, 15, 0.288)), url('https://cdn.shopify.com/s/files/1/0086/1064/4028/products/PRIME_NYStrip9-1200x1200-Raw_JUL19_1200x1200.jpg?v=1563808017');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
 }


.calidad {
    margin-left: 30px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 55px;
}

.frase {
    width: 1000px;
    margin-left: 30px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 23px;
    margin-bottom: 30px;
}

.caja_inicio{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #161A1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja_inicio h4 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

.lineas {
    position: relative;
    text-align: center;
}

.lineas::before,
.lineas::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 400px;
    /* Ajusta este valor para controlar el largo de las líneas */
    border-top: 1px solid rgb(255, 255, 255);
}

.lineas::before {
    left: 150px;
}

.lineas::after {
    right: 150px;
}

.con {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-top: 3.5%;
}



.caja2_inicio {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: #161A1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja2_inicio h4 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

.conte {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.Linktarjetas {
    text-decoration: none;
}

.tarjeta {
    width: 220px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.tarjeta:hover{
    box-shadow: 0px 0px 5px 5px  rgba(128, 128, 128, 0.219);
    border-radius: 10px;
    transition-duration: unset;
}
.tarjeta img {
    width: 100%;
    height: 300px;
}

.tarjeta h3 {
    font-size: 35px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
}

.tarjeta p {
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
}


.caja2_inicio {
    width: 100%;
    height: 700px;
    background-color: #161A1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja2_inicio h4 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

.conte {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.Linktarjetas {
    text-decoration: none;
}

.tarjeta {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.tarjeta:hover{
    box-shadow: 0px 0px 5px 5px  rgba(128, 128, 128, 0.219);
    border-radius: 10px;
    transition-duration: unset;
}
.tarjeta img {
    width: 100%;
    height: 300px;
}

.tarjeta h3 {
    font-size: 35px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
}

.tarjeta p {
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    flex-direction: row;
    background-color: #161A1D;
    justify-content: center;
    align-items: start;
}

.info {
    width: 450px;
    height: 400px;
    color: #ffffff;
}

.dos{
    width: 450px;
    height: 250px;
    color: #ffffff;
}

.info li {
    max-width: 400px;
    margin-top: 25px;
    font-size: 20px;
    list-style: none;
}

.Link {
    text-decoration: none;
    color: #ffffff;
}

.Link:hover {
    text-decoration: underline;
}

.info {
    color: #ffffff;
}

.info img {
    margin-right: 10px;
}

.info h3 {
    border-bottom: 2px solid white;
    width: 400px;
    padding: 10px;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #161A1D;
    border-top: 1px solid #B1A7A6;
}

footer img {
    margin-top: -10px;
    margin-left: 25px;
}

@media screen and (max-width:1400px) {

    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:1100px) {
    .con{
        height: 400px;
        width: 5rem;
        display: flex;
        flex-wrap: wrap;
    }

    .calidad{
        display: flex;
        justify-content: center;
    }

    .frase{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
}

@media screen and (max-width:950px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conte{
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:900px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .conte{
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:800px) {
    .menu li{
        font-size: 15px;
    }

    .conte{
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:780px) {
    .conte{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;

    }

    .con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .tarjeta {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .caja2_inicio{
        height: 450px;
    }

    .li{
        font-size: 15px;
    }
 .logo{
        display: none;
    }
}

@media screen and (max-width:660px) {
    .con{
        height: 400px;
    }

    .li{
        font-size: 12px;
    }

    .activa{
        font-size: 20px;
    }   

    .calidad{
        font-size: 40px;
    }
}

@media screen and (max-width:610px) {


    .inform{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .frase{
        margin-right: 20px;
        width: 60%;
    }

    
}


@media screen and (max-width:510px) {
    .logo{
        display: none;
    }

    .menu{
        border-bottom: 2px solid gray;
        margin-top: 20px;
    } 

    .info h3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .largo{
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .conte{
        display: flex;
        flex-direction: column;
    }

    .tarjeta {
        width: 100px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }

    .caja2_inicio{
        height: 700px;
    }

    
} 

@media screen and (max-width:440px) {
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calidad{
        font-size: 30px;
    }

    .info .largo{
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    .li{
        font-size: 10px;
        margin-left: 0px;
    }

    .menu{
        display: inline;
    }

    .info img{
        display: none;
    }

    .calidad{
        font-size: 35px;
    }

    .inform{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .frase{
        margin-right: 20px;
        width: 60%;
    }

    .menu{
        display: flex;
        flex-direction: row-reverse;
    }


    
} 

@media screen and (max-width:400px) {
    .inform{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .frase{
        margin-right: 20px;
        width: 60%;
    }

    .info li{
        font-size: 15px;
    }
    
}

