* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 1249px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    top: 0;
    transition: 0.7s;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    margin-left: -550px;
}
nav li {
    list-style: none;
}
nav img {
    width: 140px;
    height: 140px;
    padding: 12px;
}
.cuadro-exotic1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 45px;
}

.cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}
.cuadro  input{
    width: 400px;
    height: 40px;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
}
.cuadro a{
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}