@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /*Fuente de letra*/

/*elimina los estilos que la página tiene por defecto*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


/*En el cuerpo esta el tipo de letra y la eliminación del scroll X*/
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/*el contenedor padre que contiene el orden del display grid*/
.div{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 20% 20% auto 10%;
    min-height: 100vh;
    justify-content: stretch;
    margin: auto;gap: .2rem;
}

/*Las cinco cajas creadas*/
.caja{
    text-align: center;
    display: flex;
}

/*En la cabecera se encuentran los items ordenados con un display flex, esto permite que queden en fila */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    top: 0;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    color: #000;
}

.header li {
    list-style: none;
}

.activa{
    background-color: #B1A7A6;
    padding: 10px;
    border-radius: 25px;
}
/*La imagen contiene el logo de la carníceria Andrés Sierra*/
.header img {
    width: 150px;
    height: 150px;
    padding: 12px;
}


/*Primera caja, "header" contiene el menú de la página*/
.c1{
    background-color: #FFFFFF;
        box-shadow: 15px 5px 25px gray;
    grid-column: 1/3;
}

/*Segunda caja, "Nav" contiene la descripción de QUIENES SOMOS*/
.c2{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Tercera caja, "Section" contiene la información de la misión y la visión*/
.c3{
    grid-column:1/2;
}

/*Cuarta caja, "Aside" contiene una imagen relacionada a la carne*/
.c4{
    grid-column:2/3;
}

/*Quinta caja, "Footer" contiene las redes sociales y el contacto de la carníceria Andrés Sierra*/
.c5{
    grid-column: 1/3;
    background-color: #a4161a;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/*Estos contenedor contiene la información de la misión y la visión*/
.grande{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: black;
    width: 100%;
}


.uno{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/*Este contenedor tiene la imagen del carnicero*/
.dos{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.imagen img{
    width: 220px;
    height: 220px; 
}

/*estilos de los parrafos*/
.parrafo{
    color: black;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20PX;
}

/*estilo de los titulos*/
.titulo{
    color: black;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}


/*Media query1*/
@media screen and (max-width:860px) {
    .div{
        display: grid;
        grid-auto-columns: auto;
    grid-auto-rows: .7fr 1.4fr 2.5fr 2.5fr .5fr ;

    }

    
/*Oculta el item de la pestaña seleccionada, en este caso "Quienes Somos"*/
.activa{
    display: none;}

/*Se minimiza el logo de la carníceria*/
.header img {
    width: 100px;
    height: 100px;
}

/*Cada caja ocupa toda la columna completa*/
.c1{
   grid-column:1/3;
}


.c2{
    background-color: #d3d3d3;
    grid-column:1/3;

}
.c3{
    background-color: #b1a7a6;
    grid-column:1/3;
}

.c4{
    background-image: url(../imagenes/low-poly-grid-haikei.png);
    grid-column:1/3;
}

.c5{
    background-color: #a4161a;
    grid-column:1/3;
}

.uno{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
    
}


/*Media query2*/
@media screen and (max-width:550px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .header a{
        font-size: 20px;
    }


    /*Se oculta el logo de la cerníceria*/
    .header img {
        display:none;
    }

}


/*Media quey3*/
@media screen and (max-width:450px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}