* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*nav*/
nav {
    width: 1249px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    top: 0;
    transition: 0.7s;
}

nav.bajar {
    background-color: #ffffff;
    position: fixed;
    transition: 0.7s;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    color: #000;
}

nav li {
    list-style: none;
}

nav img {
    width: 120px;
    height: 120px;
    padding: 12px;
}

/*resto*/

.cuadro-exotic1 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(61, 59, 59, 0.644), rgba(133, 129, 129, 0.692)), url('../imagenes/carne.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadro-exotic2 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.texto {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-right: 50px;
}

.texto h1 {
    font-size: 40px;
}

.texto p {
    font-size: 25px;
    margin-top: 25px;
}

.texto2 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin-left: 50px;
}

.botones {
    display: flex;
    flex-direction: row;
}

.botones i {
    font-size: 30px;
    margin-right: 25px;
}

.botones h4 {
    font-size: 30px;
}

.botones p {
    font-size: 20px;
}

.mapa {
    width: 100%;
    height: 600px;
    background-color: #000;
}
iframe{
    width: 100%;
    height: 100%;
}
.cuadro-exotic3{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
.slider {
    border-radius: 5px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

.slider ul li  {
    position: relative;
    display: none;
    height: 100%;
    color: #ffffff;
}

.slider ul li h1{
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.slider ul li  p{
    font-size: 35px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
/* buttons */
.slider .buttons  {
    position: absolute;
    top: 40%;
    width:  100%;
}
.slider .buttons .next {
    font-size: 2rem;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #ffffff;
}    
.slider .buttons .prev {
    font-size: 2rem;
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: #ffffff;
}   
/* slider animation */
.slider ul li {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}
  
footer{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagen img{
    width: 400px;
    height: 400px;
}
.contenido{
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.textos{
    width: 120px;
    height: 120px;
}
.textos p{
    margin-top: 15px;
}