body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.60vw;
    
}
nav {
    width: 1249px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
    top: 0;
    transition: 0.7s;
}

nav.bajar {
    background-color: #ffffff;
    position: fixed;
    transition: 0.7s;
    width: 100%;
    height: 100px;
}
.bajar img{
    width: 0px;
    height: 0px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    color: #000;
}
.activa{
    background-color: #B1A7A6;
    padding: 10px;
    border-radius: 25px;
}
nav li {
    list-style: none;
}

nav img {
    width: 120px;
    height: 120px;
    padding: 12px;
}
.contenedor{
    width: 1010px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}
.cuadro-1{
    width: 1000px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.cuadro-1 li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding: 50px;
    gap: 250px;
}
.cuadro-2{
    width: 1000px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid  #000;
    border-radius: 20px;

}
.cuadro-2 li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding: 50px;
    gap: 250px;
}
.cuadro-2 img{
    width: 70px;
    height: 70px;
    margin-right: 45px;
}
.cuadro-2 a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
    margin-right: 45px;
}
.contenedor-2{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin-right: -100vh;
    margin-top: 47px;
}
.cuadro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 220px;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid black;
}
.direccion{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-bottom: 2px solid black;
}
.direccion input{
    width: 300px;
    height: 700px;
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
}
.boton{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton a{
    color: #000;
    text-decoration: none;
    width: 65px;
    height: 25px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadroo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 220px;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid black;
}
/*productos */
.carnes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    width: 100%;
    height: 140px;
}
.carnes li{
    list-style:none ;
    display: flex;
    flex-direction: row;
}
.carnes a{
    text-decoration: none;
    font-size: 20;
    color: black;  
    padding: 30px; 
}

.carnes p{
    display: flex;
    justify-content: center;
}
.carnes a img{
    width: 70px;
    height: 70px;
}


/**/
.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }

   .carnes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    width: 100%;
    height: 140px;
}
.carnes li{
    list-style:none ;
    display: flex;
    flex-direction: row;
}
.carnes a{
    text-decoration: none;
    font-size: 20;
    color: black;  
    padding: 30px; 
}

.carnes p{
    display: flex;
    justify-content: center;
}
.carnes a img{
    width: 70px;
    height: 70px;
}

.galeria{
    display: flex;
    width: 800px;
    height: 430px;
}

.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .6s ease;
}

.galeria img:hover{
    cursor: pointer;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}


footer {
    width: 40px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.imagen img {
    width: 400px;
    height: 400px;
}

.contenido {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
}

.textos {
    width: 280px;
    height: 280px;
}

.textos h4 {
    margin-top: 65px;
    font-size: 35px;
}

.textos p {
    margin-top: 15px;
    font-size: 20px;
}