.caja1{
    background-color: #ba181b49;
    padding: 25px;
    width: 98.45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.contenedorMVI{
    background-color: #D3D3D3;
    width: 98.45%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorMVI h2{
    display: flex;
    justify-content:center;
    text-align:end;
}
.contenedorMVI p{
    display: flex;
    justify-content:center;
    text-align:center;
    font-size: 20px;
}

.contenedorMVI img{
    border-radius: 3pc;
}
